@media only screen and (max-width: 1000px) {
    body {
        background-color: blueviolet;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-color: rgb(13, 88, 85);
    }
}

@media only screen and (max-width: 650px) {
    body {
        background-color: rgb(43, 226, 156);
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-color: rgb(55, 43, 226);
    }
   
}

.container {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    margin:auto;
    padding:auto;
    
   

}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color:aqua;
    text-align: center;
    padding: auto;
    border: auto;
    
    
    
    
}

 
.test {
 padding: auto;
 margin:auto
}
