.mymark{ 
  background-color:yellow;
}

.mycolor{
    background-color:brown; width:300px; height: 180px;
    font-size: 30px;
    border-style: groove;
    

}

.mycolor{
    background-color:blue; width:500px; height: 250px;
    border: 5px solid;
    font-size: 50px;
    border-style:dashed;
}

.topplayer {
    background-color:green; width:200px; height: 220px;
    border: 5px solid;
    font-size: 20px;
    border-style:double;
    
}

.makeit{
    background-color:aqua; width:420px; height: 250px;
    font-size: 50px;
    border-style:dotted;
    
    
}

.nice{
    background-color:blueviolet; width:600px; height:250;
    border: 10px ;
    font-size: 60px;
    border-style:outset

}